.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.5rem;
}

.input {
  background-color: rgba(243, 243, 243, 0.536);
  border: 2px solid rgba(0, 0, 0, 0.089);
  padding: 0.8rem 1rem;
  font-family: "Monsterrat", sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  outline: none;
  transition: 0.5s ease-in-out;
}

.input:active,
.input:focus,
.input:target {
  background-color: rgb(250, 250, 250);
}
